<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <packageSources>
        <add key="BepInEx" value="https://nuget.bepinex.dev/v3/index.json" />
        <add key="Among-Us-Modding" value="https://nuget.pkg.github.com/Among-Us-Modding/index.json" />
        <add key="Repo" value="Libs" />
    </packageSources>
</configuration>
