<?xml version="1.0" encoding="utf-8"?>

<configuration>
    <packageSources>
        <add key="BepInEx" value="https://nuget.bepinex.dev/v3/index.json" />
        <add key="Reactor" value="https://nuget.reactor.gg/v3/index.json" />
        <add key="Laboratory" value="https://nuget.pkg.github.com/Among-Us-Modding/index.json" />
    </packageSources>
</configuration>
